.header h1{
	background-position: right top;
	margin-right:-30px;
	padding-right:30px;
}

.num dt {text-align:right;}
.num dd {
	padding-right:1.6em;
	padding-right:2.6em;
}
.mark{
	background-position: right top;
	padding:0px 36px 0px 0px;
	text-align:right;
}
